* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "De Vietnam Pro", sans-serif;
    background: url("../images/bg.jpg") no-repeat center center/cover;
    color: #E2E4F3;
    gap: 40px;
}
li {
    list-style: none;
}