@import './utils/fonts';

@import './base';

@import './components/buttons';
@import './components/quiz-steps';

@import './layouts/header';
@import './layouts/main';
@import './layouts/section';
@import './layouts/quiz-container';

@import './layouts/quiz';
@import './layouts/congrats__section';

@import './utils/hidden';

