
.button {
  border: none;
  outline: none;
  color: #ffecc8;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  align-content: center;
}

.quiz-steps__count {
  display: inline-block;
  border-radius: 50%;
  padding: 4px;
  background-color: #393F6E;
  width: 45px;
  height: 45px;
}

.quiz-steps__count--answered {
  background-image: linear-gradient(120deg, #e65895, #bc6be8);
}

.quiz-steps__number {
  font-weight: medium;
  font-size: 1rem;
}
