.quiz__answers-items {
  position: relative;
}

.input-control {
  border: none;
  outline: none;
  color: #ffecc8;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  align-content: center;
}
.quiz__answer-input-control {
  appearance: none;
  background: #393F6E;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.quiz__answer-input-control:hover,
.quiz__answer-input-control:checked {
  background: linear-gradient(120deg, #e65895, #bc6be8);
}
.quiz__answer {
    position: absolute;
    top: 0;
    left:0;
    
  display: inline-block;
  text-transform: capitalize;
  width: 100%;
  height: 60px;
  text-align: center;
  align-content: center;
}
.quiz-answer::after {
  display: none;
  content: "✅";
  margin-left: 8px;
}
