@font-face {
    font-family: "De Vietnam Pro";
    src: url("../../fonts/BeVietnamPro-Bold.ttf") format('ttf');
    font-display: swap;
    font-weight: 900;
}
@font-face {
    font-family: "De Vietnam Pro";
    src: url("../../fonts/BeVietnamPro-Medium.ttf") format('ttf');
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "De Vietnam Pro";
    src: url("../../fonts/BeVietnamPro-Regular.ttf") format('ttf');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "De Vietnam Pro";
    src: url("../../fonts/BeVietnamPro-SemiBold.ttf") format('ttf');
    font-display: swap;
    font-weight: 700;
}