* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: "De Vietnam Pro";
    src: url("./assets/fonts/BeVietnamPro-Medium.ttf") format('ttf');
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "De Vietnam Pro";
    src: url("./assets/fonts/BeVietnamPro-Regular.ttf") format('ttf');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "De Vietnam Pro";
    src: url("./assets/fonts/BeVietnamPro-SemiBold.ttf") format('ttf');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "De Vietnam Pro";
    src: url("./assets/fonts/BeVietnamPro-Bold.ttf") format('ttf');
    font-display: swap;
    font-weight: 900;
}

body {
  display: flex;
  height: 100vh;
  
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "De Vietnam Pro", sans-serif;
  background: url("../bg.jpg") no-repeat center center/cover;
  color: #e2e4f3;
  gap: 40px;
  letter-spacing: 0.5px;
}


li {
  list-style: none;
}


