.button {
    border: none;
    outline: none;
    color: #FFECC8;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
        align-content: center;
}