.quiz-steps {
  display: flex;
  gap: 12px;
  padding: 10px;

  &__count {
    display: inline-block;
    border-radius: 50%;
    padding: 4px;
    background-color: #343964;
    width: 50px;
    height: 50px;

    &--answered {
      background-image: linear-gradient(120deg, #e65895, #bc6be8);
    }
  }
  &__number {
    font-weight: medium;
    font-size: 1rem;
  }
}
