.congrats-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #393F6E;
    border-radius: 12px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px;
        text-align: center;
    }
    &__congrats-image {
        margin-top: -20px;
        width: 300px;
    }
    &__title {
        color: #FFECC8;
        font-weight: 600;
        font-size: 1.5rem;
    }
    &__results {
        font-weight: 700;
        font-size: 0.875rem;
        color: #FFECC8;
        margin-bottom: 25px;
    }
    &__restart-button {
        background: linear-gradient(120deg, #E65895, #BC6BE8); 
        width: 200px;
        padding: 20px;
       }
}