.header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 700px;

    &__score {
        font-weight: 700;
        text-align: center;
        align-content: center;
        width: 150px;
        display: inline-block;
        border-radius: 30px;
        background-image: linear-gradient(120deg,#E65895, #BC6BE8);
        font-size: 0.875rem;
        &::before {
            content: "🏆";
            margin-right: 8px;
        }
    }

}