.quiz {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__question {
        font-weight: medium;
        font-size:  1.25rem;
        text-align: center;
        align-content: center;
    }
    &__answers-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
        padding: 25px 0;
    }
    &__answer-items {
        position:relative;
        width: 200px;
        height: 50px;
    }
    &__answer-input-control {
        appearance: none;
        background: #343964;
        width: 100%;
        height: 50px;
        box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        &:hover, &:focus {
            background: linear-gradient(120deg, #E65895, #BC6BE8);
        }
    }
    &__answer {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        text-transform: capitalize;
        width: 100%;
        align-content: center;
        text-align: center;
        height: 50px;

        &::after {
            display: none;
            content: "✅";
            margin-left: 8px;
        }
    }

}