.section {
    background-color: #393F6E;
    border-radius: 12px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
}